.btn {
  border-style: none;
  padding: 11px 18px;
  font-family: inherit;
  background: #ffffff;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #52503b;
  cursor: pointer;
}

.btn-braun {
  border-style: none;
  padding: 11px 18px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border-color: #52503b;
  background-color: #52503b;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
}
