#preview__content {
  width: 100%;
  padding-right: 336px;
  padding-left: 336px;
  background-color: #faf8f0;
  padding-bottom: 90px;
}

.content {
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }

  button {
    margin-top: 41px;
    color: #faf8f0;
  }
}
